.landing .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
    margin: auto;
}

.buttons button {
    margin: 10px;
}

.landing {
    margin: 20px;
    background-color:white;
    padding: 10px;
    text-align: center;
}

.demobtn {
    grid-column: span 2;
}