.game img {
    width: 100%;
}

.game {
    margin: 20px;
}

.game .page-header {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    display: flex;
}

.game .what-btn {
    display: inline;
}

.game h2 {
    display: inline;
    margin-right: 10px;
}

.game .info-box {
    width: 80%;
    font-size: 15px;
    margin: auto;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}

.game .info-box button {
    background-color: #59A96A;
    color: #15291D;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    font-weight: bolder;
    display: block;
    margin: auto;
}

.game .checkboxes {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.game .fast-facts {
    width: 70%;
    font-size: 15px;
    margin: 10px auto;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}

.game ul {
    list-style-type: none;
    padding: 0;
}

@media all and (min-width: 600px) {
    .game .bigger-screen {
        display: flex;
        align-items: center;
    }

    .game img {
        margin-right: 20px;
    }

    .game .fast-facts {
        height: 200px;
    }
}