.gamesItem ul {
    list-style-type: none;
    width: 100%;
}

.gamesItem {
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
}

.gamesItem .imageAndInfo {
    display: flex;
}

.gamesItem img {
    margin: 5px;
    width: 50%;
}

.gamesItem .on {
    color: green;
}

.gamesItem .nodes {
    display: flex;
    justify-content: space-around;
}

.games-header {
    text-decoration: none;
}

.games-header:hover {
    cursor: pointer;
}