.gamesItem ul {
    list-style-type: none;
    width: 100%;
}

.gamesItem {
    margin: 20px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.gamesItem li {
    padding-top: 5px;
}

.gamesItem .imageAndInfo {
    display: flex;
}

.gamesItem img {
    margin: 5px;
    width: 50%;
}

.gamesItem .on {
    color: green;
}

.gamesItem .nodes {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.games-header {
    text-decoration: none;
}

.games-header:hover {
    cursor: pointer;
}

.gamesItem h4 {
    background-color: #D7EADB;
    padding: 15px;
    margin: 0 0 10px 0;
    text-align: center;
}