.search-fields {
    display: grid;
    row-gap: 7px;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.search-fields .random-text {
    grid-column: span 2;
    text-align: center
}

.search input[type=submit] {
    margin: 15px auto;
    display: block;
}