body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D5E8EC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, a, button, label, legend {
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5 {
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #224431;
}

a:hover {
  text-decoration: underline;
  color: #59A96A;
}


button, input[type=submit] {
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  background-color: #59A96A;
  color: #15291D;
  cursor: pointer;
  -webkit-appearance:none;
  opacity: 1
}

.what-btn {
  border-radius: 50%;
  background-color: #15291D;
  width: 32px;
  height: 32px;
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
  display: inline;
  font-weight: bolder;
  padding: 0;
}

.fa-question-circle {
  color: #59A96A;
  font-size: x-large;
}